.player{
        width:100%;
        height:100%;
        box-shadow: inset 0px 0px 100px 22px black;
}
.player .square{
        position:absolute;
        width:100%;
        height:100%;
        padding:22px;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        margin:0 auto;
}
.player .info{
        width:100%;
        height:100%;
        text-shadow:0px 0px 4px black;
        display:flex;
        flex-direction: column;
        opacity: 0;
}
.player .info .infotop{
        opacity:0;
        flex: 1 0;
        text-align: center;
}
.player .info .infobot{
        flex: 0 1;
}
.player .albumart{
        display:block;
        position:absolute;
        opacity:0;
        height:50%;
        width:50%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        margin:0 auto;
        box-shadow: 0px 0px 6px black;
}
.player .backgroundart{
        z-index:-1;
        display:block;
        position:absolute;
        top:50%;
        left:50%;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%,-50%);
        filter:brightness(50%) blur(10px);
}
.player .controls{
        opacity:0;
        width:100%;
        padding:2%;
        text-align:justify;
        text-align-last:center;
}
.player .barwrapper{
        display:block;
        width:80%;
        height:7px;
        border:1px solid white;
        border-radius:3px;
        margin: 5px auto;
        margin-bottom: 0;
        box-shadow:0px 0px 4px black;
}
.player .progressbar{
        display:block;
        width:0;
        height:100%;
        background-color:white;
}
.player button{
        display:inline-block;
        background-color:transparent;
        border:1px solid white;
        border-radius:4%;
        width:50px;
        height:20px;
        margin:0 4px;
        color:white;
}
.player input{
        font:sans 2em;
        background-color:transparent;
        border:2px solid white;
        border-radius:4%;
        width:100%;
        color:white;
}
.player .search{
        transform:translate(50%,-50%);
}
.player .playlist .item{
        border:1px solid white;
        overflow: hidden;
        text-overflow: ellipsis;
}
